
<span>
<div class="map_canvas"></div>
</span>
<span>
      <input id="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
      <input id="find" type="button" value="find" />


      <fieldset>

        <label>Formatted Address</label>
        <input name="formatted_address" type="text" value="" readonly>
				<input name="formatted_address" type="text" value="">
				
				


        <input name="location" type="hidden" value="">


        <input name="route" type="hidden" value="">

        <input name="postal_code" type="hidden" value="">

        <input name="locality" type="hidden" value="">

        <input name="country" type="hidden" value="">

        <input name="administrative_area_level_1" type="hidden" value="">

      </fieldset>
</span>
    
