
<div class="hero-body">
  <div id="motto" class="container has-text-centered ">
    <h1>
    	<span class="spaceit">Rent anything from your neighbours</span>
    	<br>
    	<span class="spaceit">and make money using the stuff you own!</span>
    </h1>
		<div id="map"></div>	  
  </div>
</div>

<div id="banner">NEAREST BARGAINS</div>

<!-- FREEWALL BEGIN -->

<div id="freewall" class="hue free-wall"></div>

<!-- FREEWALL END -->

<!-- PRE-FOOTER / VISION -->

<footer class="footer-distributed">
	<div class="footer-left">
		<!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
		<i class="fa fa-wrench" aria-hidden="true"></i>
		<h2>Rent Anything From Your Neighbours</h2>
		<p></p>
	</div>

	<div class="footer-center">
		<!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
		<i class="fa fa-money" aria-hidden="true"></i>
		<h2>Make Money From Stuff You Own !</h2>
		<p></p>
	</div>

	<div class="footer-right">
		<!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
		<i class="fa fa-user" aria-hidden="true"></i>

		<h2>Strengthen Your Community</h2>
		<p></p>
	</div>
</footer>


<% if signed_in? %>   
	<%= link_to "Edit Profile", edit_user_registration_path(current_user) %>
	<% if current_user.avatar.present? %>
		<%= image_tag (current_user.avatar.thumb.url)%><br>
	<% end %>
	<%= button_to "Sign out", destroy_user_session_path, class: "button", method: :delete %>
<% end %>
