
<div class="hero-body">
  <div id="motto" class="container has-text-centered ">
    <h2><span>Rent anything from your neighbours<br>  and make money using the stuff you own! </span></h2>
		<div id="map"></div>	  
  </div>
</div>

<% if signed_in? %>   
<a href="/users/edit/<%= current_user.id %>">Edit Profile</a>
<% end %>