
<div class="hero_container" >
	<div class="navigation">

	<h1 style="padding-top:340px; font-size:50px">Rent anything from your neighbours</h1>
	<h3> Let the things you own, make you money</h2>
	</div>
</div>



<div class="titles" style="padding-top:80px; padding-bottom:80px">
	<h1 style="font-size: 32px;">Featured Boro Sets</h1>
	<p style="font-size: 19px">Try a new sport, renovate your basement, have a Mario Party.</p>
</div>

<div class="sets" style="padding-top:80px; padding-bottom:80px;">
<div class="container">
  <div class="row" style="text-align:center;">
    <div class="col-sm-6">Having Friends Over?</div>
    <div class="col-sm-6">Doing Some House Work?</div>
  </div><br><br>
  <div class="row" style="text-align:center;">
    <div class="col-sm-3">Mario Kart Party</div>
    <div class="col-sm-3">Ultimate Board Game Night</div>
    <div class="col-sm-3">Paint a Room</div>
    <div class="col-sm-3">Gardening Time</div>
  </div><br><br>
  <br><br><div class="row" style="text-align:center;">
    <div class="col-sm-6">Try A Sport?</div>
    <div class="col-sm-6">Last Minute Plans?</div>
  </div><br><br>
  <div class="row" style="text-align:center;">
    <div class="col-sm-3">Snowboarding Package</div>
    <div class="col-sm-3">Twin Bicycle Set</div>
    <div class="col-sm-3">GoPro Camera Adventure</div>
    <div class="col-sm-3">Action Packed Movie Night</div>
  </div>
</div>
</div>
<!-- <div class="hero-body">
  <div id="motto" class="container has-text-centered ">
    <h1>
    	<span class="spaceit">Rent anything from your neighbours</span>
    	<br>
    	<span class="spaceit">and make money using the stuff you own!</span>
    </h1>
		<div id="map"></div>	  
  </div>
</div> -->



<!-- 
</div>

 -->
<!-- <div id="banner">NEAREST BARGAINS</div>
 -->
<!-- FREEWALL BEGIN -->

<!-- <div id="freewall" class="hue free-wall"></div> -->

<!-- FREEWALL END 

<!-- PRE-FOOTER / VISION -->
<div class="container">
<footer class="footer-distributed">
	<div class="footer-left">
		<!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
		<i class="fa fa-wrench" aria-hidden="true"></i>
		<h2>Rent Anything From Your Neighbours</h2>
		<p></p>
	</div>

	<div class="footer-center">
		<!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
		<i class="fa fa-money" aria-hidden="true"></i>
		<h2>Make Money From Stuff You Own !</h2>
		<p></p>
	</div>

	<div class="footer-right">
		<!-- <img src="http://placehold.it/400x300&text=[img]"/> -->
		<i class="fa fa-user" aria-hidden="true"></i>

		<h2>Strengthen Your Community</h2>
		<p></p>
	</div>
</footer>
<!-- End container -->
</div> 


<% if signed_in? %>   
	<%= link_to "Edit Profile", edit_user_registration_path(current_user) %>
	<% if current_user.avatar.present? %>
		<%= image_tag (current_user.avatar.thumb.url)%><br>
	<% end %>
	<%= button_to "Sign out", destroy_user_session_path, class: "button", method: :delete %>
<% end %>


