/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// * { display: flex; }
 body > div.sticky-container > div > div.top-bar-left > div > a { position: relative;}
}

body > div.sticky-container > div > div.title-bar-right > ul > li:nth-child(1) > a, 
body > div.sticky-container > div > div.title-bar-right > ul > li:nth-child(2) > a,
body > div.sticky-container > div > div.title-bar-right > ul > li:nth-child(3) > a { 
color: black;
}

#search_icon1 {
	color: deepskyblue;
}

li {
 	list-style: none;
 	color: black; 	
 }

 html, body, ul, a {
 	color: black;
 	display: block;
 }

 .top-bar-left {
		ul {
			li:nth-child(1) {
				position: absolute;
				width: 20px;
			}
 		}

 body { 
 	div.sticky-container {
 	display: inline; 
 		div { 
 			height: 2rem;
 			div.top-bar-left { 
 				div {
 					width: 10%;
 					box-sizing: border-box;
 					a{
 						width: 10%;
 					}
 				}
 				ul {
 					margin: 0;
 					form {
 						div {
 							li:nth-child(2) {
 								input[type="text"] {
 									position: absolute;
 									margin: 0;
 								}
 							}
 						}
 					}
 				}
 				div {
 					height: 2rem;
					width: 10rem;
					margin: 0;
				}
			}
 		}
 	}
}

