// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body_index {
	margin-top: 4.5rem;
	width: 100%;
}

// #flex-form {
// 	margin: 0 20rem;
// }
		form{
			height: 100%;
			display: flex;
			// align-content:center;
			justify-content: center;
			align-items: stretch;
			// margin-bottom: 100px;
			input {
				// border: 1px solid black;
			}
		}

		#flex_form > form > label:nth-child(5) {
			margin: 0 5px;
		}

		#geo {
			text-indent: 3vw;
		}

		#search_map {
			margin-top: 4.5rem;
		}

#range {
	background-color: white;
	border: 1px lightgray solid;
}



.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid;
}

#geocomplete { width: 100% }

.map_canvas { 
  width: 600px; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

#multiple li { 
  cursor: pointer; 
  text-decoration: underline; 
}

.map_canvas { float:left; margin-left: -650px; margin-top: -200px; }
.new_user { width: 600px; margin-right: 150px; float: right; }
.edit_user { width: 600px; margin-right: 150px; float: right; }
fieldset { width: 600px; margin-top: 20px}
fieldset label { display: block; margin: 0.5em 0 0em; }
fieldset input { width: 95%; }


body > div.container.is-paddingless.is-clearfix > div:nth-child(2) > div > div.media {
	border: green solid 10px;
	height: 10vw;
	width: 10vw;
	filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}


// USERS RESULTS FROM BOOTSNIPP

.container { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

.img-circle {
	clear: both;
	border: 3px solid #248dc1;
	margin: 0 1rem;
}




